<mat-sidenav-container style="height: 100vh">


  <div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">

    <div layout-margin layout="row" layout-align="center center" class="mt-5 mb-2">
      <mat-icon style="height:60px; width: auto" svgIcon="resecLoginLogo"></mat-icon>
    </div>

    <div id="reports-container">
      <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
      <div *ngIf="!isFirstTime" class="mb-5 mt-5">
        <div class="white frame">
          <div class="col-8 pl-0">
            <div layout="row" class="search-container" layout-align="start center">
              <label class="mr-5 mb-0 search-label">ReSec Ticket ID</label>
              <input type="text" class="sob-input" flex="50" [(ngModel)]="query.ticketId" readonly>

            </div>

            <!-- search result section -->
            <div class="pb-5" style="padding-left: 40px">
              <div *ngIf="!noResultFound && !noSearchInitiated">
                <div class="mt-5 mb-4" *ngIf="!noResultFound">
                  <div class="row mb-3">
                    <p class="col-3">Date</p>
                    <p class="bold-dark-gray col">{{emails.SanitizationDate | date:'medium'}}</p>
                  </div>
                  <div class="row mb-3">
                    <p class=" col-3">Reason</p>
                    <p class="bold-dark-gray col">{{emails['Reason Blocked']}}</p>
                  </div>
                  <div class="row mb-3">
                    <p class=" col-3">Recipient</p>
                    <p class="bold-dark-gray col">{{emails.Recipient}}</p>
                  </div>
                  <div class="row mb-3">
                    <p class="col-3">Sender</p>
                    <p class="bold-dark-gray col">{{emails.Sender}}</p>
                  </div>
                  <div class="row mb-3">
                    <p class=" col-3">Subject</p>
                    <p class="bold-dark-gray col">{{emails.Subject}}</p>
                  </div>
                  <div class="row mb-3" *ngIf="!mailHasNoAttachments">
                    <p class=" col-3">Attached Files</p>
                    <p class="bold-dark-gray col">{{emails['Attached Files']}}</p>
                  </div>
                </div>

                <table class="table table-responsive mt-5" *ngIf="!mailHasNoAttachments" flex="85">
                  <thead>
                    <th class="col-2">Attachment</th>
                    <th>Reason</th>
                  </thead>
                  <tbody id="search-mail-body">
                    <tr *ngFor="let attachment of emails['Attached Files Outcomes'] | DictionaryIteratorPipe: 'true'">
                      <td>{{attachment.key}}</td>
                      <td>{{attachment.value}}</td>
                    </tr>
                  </tbody>
                </table>

                <div class="row mb-5">
                  <button class="btn btn-neutral-yellow-hvr" layout="row" layout-align="center center" (click)="performAction(emails.SanitizationId, 'ReleaseEmailToRecipient')">
                    <mat-icon class="center-icon mr-3" svgIcon="releaseMail"></mat-icon>
                    Release to Recipient
                  </button>
                  <button class="btn btn-neutral-yellow-hvr" (click)="performAction(emails.SanitizationId, 'ForwardToAdmin')" layout="row"
                    layout-align="center center">
                    <mat-icon class="center-icon mr-3" svgIcon="forwardMail"></mat-icon>
                    Forward To Admin
                  </button>
                </div>
              </div>
              <div *ngIf="noResultFound && !noSearchInitiated" class="mt-5 alert alert-warning">
                <p>no result found</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="isFirstTime" class="col text-center white frame">
        <div class="mt-5 mb-5 p-5">
          <p class="bold-dark-gray">
            0 email</p>
          <p>No emails have been processed yet. Once they do, you'll see them listed here. Head to the dashboard, complete your
            checklist and make sure you're up and running with ReSecure Mail.</p>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-sidenav-container>

<style>
  .search-label {
    font-weight: 500;
    color: #666666;
  }

</style>
