<div class="outer" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <h3 *ngIf="wrongId" color="accent">Please enter valid credentials</h3>
  <div class="frame white" style="width: 40%">
    <div layout-margin layout="row" layout-align="center center" class="mt-5 mb-2">
      <mat-icon style="height:60px; width: auto" svgIcon="resecLoginLogo"></mat-icon>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div [hidden]="submitted" fxFlex="90">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm" id="form-container" fxLayout="column" fxLayoutGap="20px" fxLayoutWrap>
          <mat-form-field class="full-width" dividerColor="primary" *ngIf="!urlHasServer">
            <input matInput placeholder="Server" type="text" id="server" required [(ngModel)]="user.server" name="server" #server="ngModel">
            <label [hidden]="server.valid || server.pristine" class="wrong-input">Server is required</label>
          </mat-form-field>
          <mat-input-container class="full-width" dividerColor="primary">
            <input matInput type="text" placeholder="Username" id="username" required [(ngModel)]="user.username" name="username" #username="ngModel">
            <label [hidden]="username.valid || username.pristine" class="wrong-input">Username is required</label>
          </mat-input-container>
          <mat-input-container class="full-width" dividerColor="primary">
            <input matInput type="password" placeholder="Password" id="password" required [(ngModel)]="user.password" name="password"
              #password="ngModel">
            <label [hidden]="password.valid || password.pristine" class="wrong-input">Password is incorrect</label>
          </mat-input-container>
          <button type="submit" [disabled]="!loginForm.valid || checkingUser" class="btn btn-action-yellow-big hvr-glow">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  #login-btn {
    background-color: purple;
    color: white;
  }

</style>
