<div class="container">
  <div class="row justify-content-end mb-4">
    <button class="btn btn-circle" md-dialog-close>x</button>
  </div>
  <div *ngIf="forgotPassword">
    <div class="text-center m-3">
      <h4 class="mb-3">Change Password</h4>
      <button class="btn btn-link" (click)="switchToForgotPassword()">Forgot Password?</button>
    </div>
    <div class="row mb-4">
      <p class="col-6">Current Password</p>
      <input class="col-6 form-control" [(ngModel)]="passwordsToSend.CurrentPassword">
    </div>
    <div class="row mb-4">
      <p class="col-6">New Password</p>
      <input class="col-6 form-control" [(ngModel)]="passwordsToSend.NewPassword">
    </div>
    <div class="row mb-4">
      <p class="col-6">Confirm New Password</p>
      <input class="col-6 form-control" [(ngModel)]="passwordsToSend.ConfirmNewPassword">
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-action" (click)="changePassword()" [disabled]="!(passwordsToSend.NewPassword && (passwordsToSend.NewPassword === passwordsToSend.ConfirmNewPassword))">APPLY
      </button>
    </div>
  </div>
  <div *ngIf="resetPassword">
    <div class="col text-center">
      <h4 class="mb-3">Forgot Password ?</h4>
      <p class="mb-3">We'll send you a link to reset your password.</p>
      <button type="button" class="btn btn-action">RESET PASSWORD
      </button>
    </div>
  </div>
</div>

