<div class="container">
  <div class="row justify-content-end mb-4">
    <button class="btn btn-circle" md-dialog-close>x</button>
  </div>
  <div *ngIf="changePassword">
    <div class="text-center m-3">
      <h4 class="mb-3 bold ">Change Password</h4>
      <button class="btn btn-link" (click)="switchToForgotPassword()">Forgot Password ?</button>
    </div>
    <form #changePassword="ngForm">
      <div class="mb-4 mt-2" layout="row" layout-align="space-between center" layout-margin>
        <p flex="35" class="reset-field ml-0">Current Password</p>
        <input #currentPassword="ngModel" name="currentPassword" minlength="6" flex="50" class="sob-input" required [(ngModel)]="passwordsToSend.CurrentPassword" type="password">
        <div flex>
          <i class="fa fa-check-circle-o fa-2x green-icon" aria-hidden="true"
             *ngIf="oldPasswordIsValid(passwordsToSend.CurrentPassword)"></i>
        </div>
      </div>
      <div class="mb-4" layout="row" layout-align="space-between center" layout-margin>
        <p flex="35" class="reset-field ml-0">New Password</p>
        <input #NewPassword='ngModel' flex="50" class="sob-input" required [(ngModel)]="passwordsToSend.NewPassword" type="password" name="NewPassword">
        <div flex>
          <i class="fa fa-check-circle-o fa-2x green-icon" aria-hidden="true"
             *ngIf="fieldIsValid(passwordsToSend.NewPassword)"></i>
        </div>
      </div>
      <div class="mb-4" layout="row" layout-align="space-between center" layout-margin>
        <p flex="35" class="reset-field ml-0">Confirm New Password</p>
        <input #ConfirmNewPassword = "ngModel" flex="50" class="sob-input" required [(ngModel)]="passwordsToSend.ConfirmNewPassword" type="password" name="ConfirmNewPassword">
        <div flex>
          <i class="fa fa-check-circle-o fa-2x green-icon" aria-hidden="true"
             *ngIf="passwordsMatch(passwordsToSend.NewPassword, passwordsToSend.ConfirmNewPassword)"></i>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-action-yellow-big"
                [disabled]="!(passwordsAreValid(passwordsToSend.NewPassword, passwordsToSend.ConfirmNewPassword))"
                (click)="applyChangePassword()">CHANGE
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="forgotPassword">
    <div class="col text-center">
      <h4 class="mb-3 bold">Forgot Password ?</h4>
      <p class="mb-3">We'll send you a link to reset your password.</p>
      <button type="button" class="btn btn-action-yellow-big" md-dialog-close>RESET PASSWORD
      </button>
    </div>
  </div>
</div>


<style>
  .green-icon {
    color: #72B895 !important;
  }

  .reset-field {
    margin-bottom: 0px !important;
    color: #666666 !important;
    font-weight: 600 !important;
  }
</style>
