<div layout="column">
  <mat-list *ngIf="!noSettingsExist" class="pt-0">
    <mat-list-item *ngIf="newDepartmentRequired" class="selectedPolicy dpt-name">New Department</mat-list-item>
    <mat-list-item *ngFor="let exception of exceptionsList | DictionaryIteratorPipe" class="dpt-list" (click)="selectDepartment(exception.policyName)"
      [ngClass]="{'selectedPolicy': isCurrentPolicy(exception.policyName) && !newDepartmentRequired}">
      <p class="dpt-name fs-13" md-line>{{exception.policyName}}</p>
      <p md-line class="fs-13 dpt-users">{{exception.exceptions | ArrayLength}} users</p>
    </mat-list-item>
  </mat-list>
</div>
